@media (min-width:768px){
  #demo .container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #demo .box:first-child{
    width: calc(66.666% - 20px);
  }

  #demo .box{
    width: calc(33.333% - 20px) ;
  }

  
  #planning .box{
    padding: 40px;
  }


  #testimonial .box{
    display: flex;
    width: 100%;
  }

  #testimonial .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 40px;
  }


  #benefits .container{
    gap: 20px;
  }

  #benefits h2{
    width: 100%;
    font-size: 3rem;
  }
  
  #benefits .box{
    width: calc(100% / 2 - 20px);
  }

  section.about-us{
    display: flex;
  }

  section.about-us .text{
    width: 50%;
  }

  section.about-us .col{
    width: 40%;
  }

  section.get-started .col{
    width: 600px;
    margin: 0 auto;
  }

  /* FOOTER */
  footer.bg-dark .container{
    width: 400px;
  }
}