@media (min-width:1153px){
  /* UTILITIES */
  .container{
    width: 1140px;
  }

  .btn{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
  }
  
  .btn:hover{
    background-color: rgb(204, 204, 204);
  }
  
  /* HEADER */
  .desktop-menu{
    display: flex;
  }

  .mobile-menu{
    display: none;
  }

  .desktop-menu ul li{
    list-style: none;
    padding:30px ;
  }

  .desktop-menu ul li a{
    color: white;
  }

  .desktop-menu ul li a:hover{
   text-decoration: underline;
  }

  .desktop-menu ul li a.btn{
    color: black;
  }


  /* MAIN */
  #demo .box{
    display: flex;
  }

  #demo .col.first{
    width: 50%;
  }

  #demo .box-img{
    width: 50%;
    justify-content: end;
    flex-shrink: 0;
  }

  #demo .box-img img{
    object-fit: cover;
  }

  #planning .container{
    display: flex;
    justify-content: center;
    width: 870px;
    gap: 80px;
  }

  #planning .col{
    width: 50%;
  }

  #planning .box{
    padding: 20px;
    width: 50%;
    height: 100%;
    margin-top: 180px ;
  }

  #planning .box img{
    width: 70%;
  }

  section.partner{
    width: 1140px;
  }

  section.benefits .container{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    gap: 20px;
  }

  section.benefits .box{
    width: calc(100% / 3 - 20px);
    margin-top: 10px;
    height: 100%;
  }

  section.benefits .button{
    padding: 0;
  }

  section.get-started .col{
    width: 600px;
    margin: 0 auto;
  }
}
