@media (min-width:768px){
  #demo .container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #demo .box:first-child{
    width: calc(66.666% - 20px);
  }

  #demo .box{
    width: calc(33.333% - 20px) ;
  }

  
  #planning .box{
    padding: 40px;
  }


  #testimonial .box{
    display: flex;
    width: 100%;
  }

  #testimonial .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 40px;
  }


  #benefits .container{
    gap: 20px;
  }

  #benefits h2{
    width: 100%;
    font-size: 3rem;
  }
  
  #benefits .box{
    width: calc(100% / 2 - 20px);
  }

  #about-us .container{
    width: 750px;
    justify-content:space-around ;
  }
  
  #about-us .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:start;
    width: 50%;
    padding: 0 40px;
  }

  #about-us .col h2:first-child{
    font-size:4rem;
  }

  #about-us .col img{
    width: 250px;
    height: 250px;
  }
}