/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 80px;
  background-color: #0084fd;
  margin-bottom: 50px;
}

img{
  max-width: 100%;
}

h2{
  color: white;
  font-size: 1.9rem;
}

h3{
  color:#0084fd ;
  font-size: 1.3rem;
}
/* UTILITIES */
.container{
  width: 100%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.padding-l-r{
  padding: 0 30px;
}

.padding-t{
  padding-top: 60px;
}

.padding-b{
  padding-bottom: 60px;
}

.text-c{
  text-align: center;
}

.bg-purple{
  background-color: #9593e6;
}

.btn-b{
  background-color: #0084fd;
  border-radius: 20px;
  color: white;
  padding: 10px 50px;
}

.btn-p{
  background-color: #9593e6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.btn-p-long{
  padding: 10px 40px;
  border-radius: 30px;

}

.btn-b:active{
  background-color: #65b4ff;
}

/* HEADER */
nav{
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.logo:active{
  filter: invert(98%) sepia(1%) saturate(642%) hue-rotate(184deg) brightness(93%) contrast(87%);
}

.list{
  display: none;
}

.hamburger{
  color: white;
  font-size: 1.5rem;
}

/* MAIN */
section{
  flex-direction: column;
}

section .box{
  width: 100%;
  background-color: #b5ddff;
  border-radius: 20px;
  padding: 40px 30px;
  margin-bottom:20px ;
}

section > .box:last-child{
  margin-bottom: 100px;
}

section .box.first{
  padding-bottom: 0px;
}

section .col h3{
  margin-bottom: 25px;
}

section .col p{
  color: #5a6e7f;
  font-weight: bold;
  line-height: 25px;
}

section .button{
  padding: 40px 0px;
}

section .button a.btn-b{
  text-decoration: none;
  font-weight:bold ;
  letter-spacing: 2px;
}

section .button a.btn-b::before{
  font-family: Fontawesome;
  content:'\f179' ;
}

section .box-img{
  justify-content: flex-start;
  align-items: flex-end;
}

section .box-img img{
  width: 200px;
}

section .col i{
  font-size: 5rem;
  color:#0084fd;
  margin-bottom: 30px;
}

section.bg-purple{
  padding-bottom: 40px;
}

section.bg-purple .col img{
  padding-top: 70px;
}

section.bg-purple .col h2{
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: start;
}

section.bg-purple .col p{
  color: white;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: start;
}

section.bg-purple .box{
  background-color: white;
  border-radius: 50px;
}

section.bg-purple .box img{
  margin-bottom: 20px;
}

section.bg-purple .box h3,
section.bg-purple .box p{
  color: black;
  text-align: center;
  margin-bottom: 20px;
  text-align-last: center;
}

section.bg-purple .box p{
  font-style: italic;
}

section.bg-purple .box a i{
  color: black;
  line-height: 50px;
  font-size: 1rem;
}

section .testimonial{
  text-align: center;
}

section .testimonial h3{
  color: black;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

section .testimonial h2{
  color: #9593e6;
  margin-bottom: 30px;
}

section.partner{
  flex-direction: column;
}

section.partner .box {
  background-color: #9593e6;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
}

section.partner>.box:last-child{
  padding-bottom: 40px;
}

section.partner .box img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

section.partner .box p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

section.partner .box h3{
  color: white;
  padding-top: 20px;
}

section.benefits h2{
  text-align: center;
  margin-bottom: 40px;
}

section.benefits .box{
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 0;
}

section.benefits .text-p{
  text-align: start;
}

section.benefits .text-p h2,
section.benefits .text-p h4{
  color: #9593e6;
  text-align: start;
}

section.benefits .text-p h4{
  font-size: 4rem;
}

section.benefits .text-p h2{
  margin-bottom: 40px;
}

section.benefits .text-p p{
  text-align: start;
  text-align-last: left;
  color: #5a6e7f;
}

section.benefits .button a{
  text-decoration: none;
  color: white;
}


